
.icon-android:before { content: '\e800'; } /* '' */
.icon-mobile-alt:before { content: '\e801'; } /* '' */
.icon-location:before { content: '\e802'; } /* '' */
.icon-info-circled:before { content: '\e803'; } /* '' */
.icon-cog:before { content: '\e804'; } /* '' */
.icon-quote:before { content: '\e805'; } /* '' */
.icon-twitter:before { content: '\e806'; } /* '' */
.icon-thumbs-up:before { content: '\e807'; } /* '' */
.icon-rss:before { content: '\e808'; } /* '' */
.icon-globe:before { content: '\e809'; } /* '' */
.icon-picture:before { content: '\e80a'; } /* '' */
.icon-flow-cross:before { content: '\e80b'; } /* '' */
.icon-sort-alphabet-outline:before { content: '\e80c'; } /* '' */
.icon-mobile:before { content: '\e811'; } /* '' */
.icon-hashtag:before { content: '\f292'; } /* '' */